---
import '../styles/main.css';


const { currentPage = '' } = Astro.props;
---

<style>

/* Hero Section */
.navbar {
  z-index: 1000;
  position: relative;
  overflow: hidden;
  margin-top: -20px;
  background: #004200;
}

/* Estilos para alinear el logo con los elementos de navegación */
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  max-height: 90px;
  object-fit: contain;
  justify-content: start;
}

.navbar-nav {
  align-items: center;
  height: 100%;
  
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Selectores más específicos para sobrescribir Bootstrap */
.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  color: #ffffff !important;
  font-size: 24px !important;
  transition: color 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
  color: #85bb85 !important;
}

.navbar .navbar-nav > li {
  font-size: 24px;
}

.nav-item:hover {
  text-decoration: 3px underline #33cc66;
}

/* Toggler blanco y hover */
.navbar-toggler {
  background: transparent;
  border: none;
  box-shadow: none;
  transition: ease-in-out 0.2s;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  height: 4rem;
  width: 4rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  border: 3px solid #fff !important;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Cambiar el color del subrayado cuando el navbar está cubierto */
.navbar.filled .nav-item:hover {
  text-decoration: 3px underline white;
}
</style>

<header>
  <nav class="navbar d-flex navbar-expand-lg navbar-light shadow-sm" style="background-color: #004200 !important; color: white;">
    <div class="container row justify-content-center m-auto d-flex">
      <div class="col-sm-10 col-md-12 col-lg-8 ">
        <a
          class="navbar-brand m-4 col-sm-10 col-md-11 col-lg-4 d-block d-lg-flex align-items-center"
          href="https://popular-esmedellin.com"
          style="justify-content: start"
        >
          <img
            src="https://popular-esmedellin.com/recursos/img/logo4.png"
            alt="Logo"
            width="100%"
            class="logo d-block mx-auto mx-lg-0"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <button
          class="navbar-toggler d-lg-none mx-auto mt-2 mb-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="display: flex; justify-content: center; align-items: center"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-center py-2"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav ms-auto d-flex justify-content-center w-100">
            <li class="nav-item m-auto m-2">
              <a class="nav-link" href="https://popular-esmedellin.com" style="color: white !important; font-size: 24px !important; display: flex; align-items: center;">Inicio</a>
            </li>
            <li class="nav-item m-auto m-2">
              <a class="nav-link" href="https://popular-esmedellin.com/pages/red.html" style="color: white !important; font-size: 24px !important; display: flex; align-items: center;">Red</a>
            </li>
            <li class="nav-item m-auto">
              <a class="nav-link" href="/" style="color: white !important; font-size: 24px !important; display: flex; align-items: center;">Actualidades</a>
            </li>
            <li class="nav-item m-auto">
              <a class="nav-link" href="https://popular-esmedellin.com/pages/publicaciones.html" style="color: rgb(255, 255, 255) !important; font-size: 24px !important; display: flex; align-items: center;">Publicaciones</a>
            </li>
            <li class="nav-item m-auto">
              <a class="nav-link" href="https://popular-esmedellin.com/pages/contacto.html" style="color: white !important; font-size: 24px !important; display: flex; align-items: center;">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
